{%extends 'base.html'%}
{% block content %}
{%include 'navbar.html'%}
<h1>ABOUT US</h1>
<div class=about>
    THIS WEBPAGE IS A BETA VERSION OF A PROJECT ON E-GOVERNNACE.THIS PROJECT IS THE WORK OF Mr.HARIKRISHNAN JAYAKUMAR AND Mr.JAMES JOSEPH THANDAPRAAL [ SOFTWARE ENGG. STUDENTS OF  VELLORE INSTITIUTE OF TECHNOLOGY].THE MOTIVE OF DEVELOPING SUCH A WEBSITE IS TO OVERCOME THE PROBLEMS OF EXAMINATION WEB-PORTALS THAT WE HAVE TODAY.THE MINOR UPDATE WE HAVE BROUGHT TO THIS WEBSITE IS THAT THE UPLOAD BUTTON IN THE APPLICATION FORM AUTOMATICALLY COMPRESSES THE IMAGE  TO A SPECIFIC SIZE DESIRED  BY THE WEBSITE.
THE UPDATE HAS BEEN SUCCESSFUL AND THE COMPRESSED IMAGE IS GETTING STORED IN THE DATABASE.WE HOPE THAT THIS PROJECT MAY CAUSE THE EXISTING INDIAN EXAMINATION PORTALS TO GIVE A MINOR UPDATE AND HELP BILLIONS OF PEOPLE IN THE FUTURE.

</div>



{% endblock %}

