<!DOCTYPE html>
<html lang="en">
    {%load static %}
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{title}} {% endblock%}</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/base.css"/>

</head>

<body onload="blinktext();" >
    
   
    {% block body  %}
   
    {% endblock %}

    
    <div style="position: relative">
        <p  style="position: fixed; bottom:0; width:100%; text-align: right;font-size: 18px;"> This webpage is created by HARIKRISHNAN JAYAKUMAR and JAMES JOSEPH THANDAPRAAL
        </p>
    </div>
    
</body>

</html>