{%extends 'base.html'%}
{% load static %}
{%block body %}
<h1><center> WELCOME TO THE EXAMINATION PORTAL<img src="../static/images/emb2.png" width="100px" height="100px" id="img1"></center></h1><br /><br /><br />
<script>
   
var n = formatAMPM();

function formatAMPM() {
var d = new Date(),
  minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
  hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
  ampm = d.getHours() >= 12 ? 'pm' : 'am',
  months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
  days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
return days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;
}

if(sessionStorage.getItem("name")==null)
{
var name =prompt("ENTER YOUR NAME TO CONTINUE");
sessionStorage.setItem("name",name);
}
name1=sessionStorage.getItem("name");
document.write(`<h3>  Welcome ${name}   </h3>`);
document.write(`<h3>   ${n} </h3>`);
        
</script>
 {%block navbar%}
 {%include 'navbar.html'%}
 {%endblock %}

 
<br>
<br><br><br>
<br />
<br />
<br />
<br />
<br />
<h4>LATEST NEWS</h4>
<marquee behavior="scroll" direction="left" onmouseover="this.stop();"
onmouseout="this.start();" ><h2>Click<a href="http://ntaresults.nic.in/resultservices/JEEMainP1-Apr20-auth"><mark id="announcement">here</mark></a> to check the results of JEE MAIN 2020 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;AIIMS 2020 RESULTS TO BE DECLARED ON 16TH OCTOBER 2020</h2></marquee>

<br><br><br><br><br>
<h4> APPLICATIONS OPEN</h4><br>
<div class="admission">
<ul>
  <li>BTECH Admission open in Vellore Institute of Technology [VIT] .<a href="{% url 'vit' %}" class="more"  >APPLY NOW</a></li><br><br><br><br><br><br><br><br>
  <li>Intg Mtech Admission open in Indian Institute of Technology[IIT] <a href="{% url 'jee' %}" class="more"> APPLY NOW</a></li><br><br>
</ul>
</div>
<div class="space">
<h2>Click <a style="color: blanchedalmond;" href="templates/year.html">here</a> to view the exams scheduled for the year 2020</h2>
</div>
<script>
    function blinktext() {
        var f = document.getElementById('announcement');
        setInterval(function() {
          f.style.visibility = (f.style.visibility == 'hidden' ? '' : 'hidden');
        }, 500);
      }
</script>
{% endblock %}